.ner{
    color:rgb(255, 0, 0)
}
ul{
    font-size: larger;
}
.dht{
    color: blue;
} .nr{
    text-align: center;
}
.fixed{
    position: fixed;     
} 
header {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
}
header a {
    text-decoration: none;
    color: black;
}